@model MilkyProject.WebUI.Dtos.Gallery.CreateGalleryDto
@{
    ViewData["Title"] = "CreateGallery";
    Layout = "~/Areas/Admin/Views/Default/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Yeni Resim Ekleme Sayfası</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Galeri İşlemleri</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Yeni Resim </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yeni Resim Ekleme Paneli</h4>
                    <p class="card-description">
                        Aşağıdaki alanları eksiksiz doldurarak Resim ekleme işlemini tamamlayabilirsiniz.
                    </p>
                    <form method="post">
                      

                        <label>Fotoğraf </label>
                        <input type="text" asp-for="imageUrl" class="form-control" />
                        <br />

                        <br />
                        <button class="btn btn-info">Resmi Kaydet</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

