@model MilkyProject.WebUI.Dtos.SliderDtos.CreateSliderDto
@{
    ViewData["Title"] = "CreateSlider";
    Layout = "~/Areas/Admin/Views/Default/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Yeni Slider Ekleme Sayfası</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Slider İşlemleri</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Yeni Slider </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Yeni Slider Ekleme Paneli</h4>
                    <p class="card-description">
                        Aşağıdaki alanları eksiksiz doldurarak slider ekleme işlemini tamamlayabilirsiniz.
                    </p>
                    <form method="post">


                        
                        <label>Resim</label>
                        <input type="text" asp-for="imageUrl" class="form-control" />
                        <br />

                        <label>Açıklama1</label>
                        <input type="text" asp-for="description1" class="form-control" />
                        <br />
                        <label>Açıklama2</label>
                        <input type="text" asp-for="description2" class="form-control" />
                        <br />
                        <br />
                        <button class="btn btn-info">Slider Kaydet</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

